@media only screen and (max-width: 540px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .navbar{
        margin: 0;
        background-color: darkgreen;
    }
    .btn{
        width: 50px;
        height: 50px;
        background-color: darkgreen;
        border: 1px solid grey;
        border-radius: 100%;
        margin: 2px;
    }
    .body_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .btn_base{
        padding: 10px;
        border: 1px solid grey;
        border-radius: 10px;
        font-weight: bold;
        background-color: white;
        margin: 5px;
    }
}
@media only screen and (min-width: 541px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .navbar{
        margin: 0;
        background-color: darkgreen;
    }
    .btn{
        width: 50px;
        height: 50px;
        background-color: darkgreen;
        border: 1px solid grey;
        border-radius: 100%;
        margin: 2px;
    }
    .body_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .btn_base{
        padding: 10px;
        border: 1px solid grey;
        border-radius: 10px;
        font-weight: bold;
        background-color: white;
        margin: 5px;
    }
}