.textos {
    display: flex;
    justify-content: center;
}

.testemunhas {
    display: flex;
    justify-content: center;
}

.testemunha1 {
    display: flex;
    justify-content: center;
}

.testemunha2 {
    display: flex;
    justify-content: center;
}

.testemunha3 {
    display: flex;
    justify-content: center;
}

.testemunha4 {
    display: flex;
    justify-content: center;
}