.BARRA {
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 50px;
}
.foto {
    width: 160px;
    border-radius: 200%;
}
.butao1{
    width: 160px;
    border-radius: 10%;
}
.butao2{
    width: 160px;
    border-radius: 100%;
}
.
{
    
}